<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28504515613-40mtcrec9r9mi8ng2etd2kgjo39pg7m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28504515613-40mtcrec9r9mi8ng2etd2kgjo39pg7m4</string>
	<key>API_KEY</key>
	<string>AIzaSyAI7SJ2CJV2xaBgnDbcKYQMfREtwrBdbGI</string>
	<key>GCM_SENDER_ID</key>
	<string>28504515613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>its.showcase.arapp</string>
	<key>PROJECT_ID</key>
	<string>ar-tl-umich-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-tl-umich-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28504515613:ios:71c896bb7d644dfc</string>
	<key>DATABASE_URL</key>
	<string>https://ar-tl-umich-project.firebaseio.com</string>
</dict>
</plist>